/* css файл для всіх карток у pricing */

/* Upper */
.Pricing-Burger {
    text-decoration: none;
    color: white;
}

.Pricing-Burger:hover {
    color: #5252a1;
}

#collapseExample {
    border: none;
}
#collapse-pricing-card {
    background: none;
    border: none;
}

hr{
    color: white;
}

.MainPinPricing {
    margin: 0;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);;
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.BottomOfPricing {
    list-style-type: none;
    padding: 0;
}

.BottomOfPricing a {
    text-decoration: none;
    color: white;
}

.PricingHomeCollapse {
    padding: 0;
}

.nav-link:hover {
    color: #5252a1;
}

.nav-link:active {
    color: #5252a1;
  }

/* Body */
  .imageLAP {
    display: grid;
    justify-content: center;
}

.TextForItem {
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

.TextForItem>h1{
    display: flex;
    justify-content: center;
    color: gold;
}

.Spysok4OtherStuff {
    color: white;
}

.Spysok4OtherStuff:hover { /* типу ссилка для списку на сторінці "Other"*/
    cursor: pointer;
}