@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: Poppins, serif;
    font-size: 20px;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}

p {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: #5252a1;
}

.nav-item .nav-link.active {
    color: rgb(131, 119, 119);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: grey;
}

.sidebar {
    color: white;
    /* background: linear-gradient(270deg, #00009c 0%, #000000 100%); */
    /* Если раскомментировать то боковая панель будет 180deg градиет */
}

.sidebar a {
    text-decoration: none;
}

.card {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
    color: white;
}

.slide-text {
    color: white;
    margin-inline: auto;
    margin-block: 10rem;
}

#MovingContactInfo:hover {
    animation: ContactInfoYTandTG 2s ease 0s 1 normal forwards;
    animation-play-state: running;
}

@keyframes ContactInfoYTandTG {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@media (max-width: 755px) {
    .carousel-indicators{
        display: none;
    }
}

#YouTubeBUTTON {
    border: none;
}

.dropdown-menu4Phone {
    background: silver;
}

.PhoneNumberDrop {
    color: #333;
}

footer, .btn-outline-primary {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}

#ButtonSeeMore {
    text-decoration: none;
    color: white;
}

.ButtonSeeMoreCL {
    background: none;
    border: none;
}

#ButtonSeeMore:hover {
    color: #5252a1;
}

.ButtonLearnMoreBOK {
    color: #FFA500;
    display: block;
    margin-top: 10px;
}

.ButtonLearnMoreBOK:hover {
    color: #333;
}

.footer-text {
    color: white;
    margin: auto auto;
}

.btn-outline-primary {
    color: white;
}

.btn-outline-primary:hover {
    color: #00009c;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mtnotneeded{
    margin-top: 0;
}

.PicturesWebRes {
    width: 1200px;
    height: 720px;
}